@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap");
html,
body {
  font-family: "Kanit", "Space Mono", monospace;
  font-style: normal;
  background: #201124;
  margin: 0;
}

:root {
  --gap: 1rem;
  --color-grey-gradient-start: #272a2a;
  --color-grey-gradient-end: #141414;
  --color-grey-24: #3b4040;
  --border-radius-44: 44px;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes scroll-abs {
  from {
    transform: translateX(calc(100% + var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

