@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
html,
body {
  font-family: "Space Mono", monospace;
  font-style: normal;
  background: linear-gradient(
    105.05deg,
    #010c10 10.85%,
    #061d1b 67.36%,
    #141311 128.79%
  );
  margin: 0;
}
